extends layout.jade
		
block content
	div(id="title") Ideal Person
	form(id="ideal-form" action="ideal" method="post")
		table
			tr(class="ideal-input")
				td GPA: 
				td
					input(type="number", name="GPA")
			tr(class="ideal-input")
				td Years of Experience: 
				td
					input(type="number", name="experience")
			tr(class="ideal-input")
				td Github Repos (more than..):
				td 
					input(type="number", name="num_companies")
			tr(class="ideal-input")
				td Github Commits (more than..):
				td
					input(type="number", name="commit_count")
			tr(class="ideal-input")
				td Languages: 					
				td
					select(id="lang-list")
						option Java
						option Javascript
						option Swift
						option Fortran
						option Cobal
						option Objective-C
						option SQl
						option HTML/CSS
						option Haskell
						option Lisp
						option C#
						option Perl
						option Go
						option Mongo
						option Lua
						option Python
						option C++
		input(type="submit" id="submit" value="Go!")