extends layout.jade
		
block content
	div(id="title") Ideal Person
	div(id="ideal-form")
		table
			tr
				td
					input(type="dropdown")
			tr
				td
					input(type="dropdown")
			tr
				td
					input(type="dropdown")
		a(id="submit" href="lookup") Submit