extends layout.jade

block content
	div(id="title") Lookup
	form(id="form-container" action="lookup")
		text(id="title-text")
		div(class="profile-input" id="github")
			input(type="textbox" placeholder="github username")
		div(class="profile-input" id="linkedin")
			input(type="textbox" placeholder="linkedin username")
		div(class="profile-input" id="resume")
			input(type="file" placeholder="Resume")
		a(id="submit" href="profile") Go!