extends layout.jade

block content
	div(id="title") Lookup
	div(id="form-container")
		text(id="title-text")
		div(class="profile-input" id="github")
			input(type="textbox" placeholder="github username")
		div(class="profile-input" id="linkedin")
			input(type="textbox" placeholder="linkedin username")
		div(class="profile-input" id="resume")
			input(type="file" size="60")
		svg(id="submit")
			text(x="40%" y="55%") Go!