@keyframes submit-swell {
	0% {width:100;}
	60% {width:160;}
	100% {width:130;}
}


html {
	background-color:#79E579
}

#title {
	font-size:72px;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

input{
	width:250px;
	padding:12px;
	margin:7px;
	background-color: white;
	border-radius:.40rem;
	border-style:solid;
	border-width:0px;
}

input:focus{
	width:330px;
	transition:0.4s;
}

#submit{
	width:100px;
	height:70px;
	background-color:33C733;
	border-radius:.60rem;
}

#submit:hover{
	animation-name: submit-swell;
	animation-duration: 0.4s;
	width:130;
}

