@keyframes submit-swell {
	0% {width:100;}
	60% {width:125;}
	100% {width:100;}
}

@keyframes input-swell {
	0% {width:250;}
	60% {width:280;}
	100% {width:250;}
}

html {
	background-color:#79E579
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.profile-input input{
	width:250px;
	padding:10px;
	margin:7px;
	background-color: white;
	border-radius:.40rem;
	border-style:solid;
	border-width:0px;
}

.profile-input input:focus{
	animation-name: input-swell;
	animation-duration: 0.4s;
}

#submit{
	width:100px;
	height:70px;
	background-color:33C733;
	border-radius:.60rem;
}

#submit:hover{
	animation-name: submit-swell;
	animation-duration: 0.4s;
}

